server:
  port: ${PORT:0}
  
spring:
  application:
    name: users-ms
  datasource:
    url: jdbc:mysql://localhost:3306/ms_users?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    generate-ddl: true 
   
logging:
  level:
    org.springframework.web: debug
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8010/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    
gateway:
  ip: 192.168.29.113
 
token:
  secret: secret
  exp_time: 8640000
  
custom:
  login_url: /users/login
   
